.grid-box.col-xs-12.col-sm-12.col-md-6.col-lg-6.col-md-offset-3
  %header.box-header
    %h2.section--title.bigTitle Cập nhật thông tin
  .box-content.clearfix
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, disabled: true, class: 'form-control'
      .form-group
        = f.label :full_name
        = f.text_field :full_name, disabled: true, class: 'form-control', placeholder: "Tên hiển thị"
      .form-group
        = f.label :nickname
        = f.text_field :nickname, autofocus: true, class: 'form-control', placeholder: "Biệt danh"
      .form-group
        = f.label :password
        %i (để trống nếu như bạn không muốn thay đổi)
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Mật khẩu"
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Xác nhận mật khẩu"
      .form-group
        = f.label :current_password
        %i (nhập mật khẩu hiện tại của bạn để cập nhật những thay đổi)
        = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Mật khẩu hiện tại"
      / .form-group
      /   .checkbox.pull-left
      /     = f.check_box :is_listen_music
      /     %label{for: 'user_is_listen_music'} Nghe nhạc nền
      .form-group.clear-both.pull-right
        %button.btn.btn-primary.submit-btn-custom.ladda-button{type: "submit", "data-style"=>"zoom-in", "data-spinner-color"=>"#ccc"} Cập nhật