Xin chào, #{@user.display_name}
\===============================================

Tài khoản của bạn vừa mới được tạo,
đây là thông tin tài khoản của bạn:

Username: #{@user.username}
Email: #{@user.email}
Password: #{@password}

Để đăng nhập vào website, vui lòng truy cập vào đường link sau: #{@url}.

Thank you!