#top_stats.top-stats-page.grid-box.col-xs-12.col-sm-12.col-md-12.col-lg-12
  / / Top 10 win big money in a match
  .box-header
    %h2.section--title.bigTitle.text-center
      TOP 10 THẮNG ĐIỂM NHIỀU NHẤT TRONG 1 TRẬN ĐẤU
  .box-content.clearfix.m-b-xlarge
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        .table-responsive.top-stat-tbl.top-stat-tbl-clickable
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center{width: '15px;'} #
                %th.text-center Nhà đầu tư
                %th.text-center Trận
                %th.text-center Điểm thắng cược (Points)
            %tbody
              - User.list_order_by_money_win_in_a_match.first(TOP10).each_with_index do |record, index|
                - css_class = current_user == record[:user] ? 'stat-tbl-current' : ''
                - css_class += index == 0 ? ' top1' : ''
                - match_info = "#{record[:round].is_group_stage? ? 'Vòng bảng' : record[:round].title_vi}, #{record[:team1].title_vi} #{record[:game].score1} - #{record[:game].score2} #{record[:team2].title_vi}"
                %tr{class: css_class, "data-url" => match_url(record[:game].id)}
                  %td.text-center= index+1
                  %td= record[:user].display_name
                  %td.text-center.tipso{"data-tipso"=>"#{match_info}"}
                    %span.team-flag
                      %img.wc-flag{alt: record[:team1].try(:code), src: "/flags/#{record[:team1].try(:key) || 'placeholder'}.png", title: record[:team1].try(:code)}/
                    \-
                    %span.team-flag
                      %img.wc-flag{alt: record[:team2].try(:code), src: "/flags/#{record[:team2].try(:key) || 'placeholder'}.png", title: record[:team2].try(:code)}/
                  %td.text-center= format_currency record[:total_money_win], false
  / Top 5 Earn Money
  .box-header
    %h2.section--title.bigTitle
      TOP 5 THU NHẬP
  .box-content.clearfix.m-b-xlarge
    .row
      .col-xs-12.col-md-6
        %h5 GIÀU NHẤT
        .underline.hidden-sm.hidden-xs
        .table-responsive.top-stat-tbl
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center #
                %th.text-center Nhà đầu tư
                %th.text-center Lợi nhuận (Points)
            %tbody
              - User.top5.each_with_index do |record, index|
                - css_class = current_user == record[:user] ? 'stat-tbl-current' : ''
                - css_class += index == 0 ? ' top1' : ''
                %tr.success{class: css_class, "data-url" => statistics_user_url(record[:user])}
                  %td.text-center= index+1
                  %td= record[:user].display_name
                  %td.text-center= format_currency record[:total_money_profits], false
      .col-xs-12.col-md-6
        %h5 NGHÈO NHẤT
        .underline.hidden-sm.hidden-xs
        .table-responsive.top-stat-tbl
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center #
                %th.text-center Nhà đầu tư
                %th.text-center Lợi nhuận (Points)
            %tbody
              - User.bottom5.reverse.each_with_index do |record, index|
                - css_class = current_user == record[:user] ? 'stat-tbl-current' : ''
                - css_class += index == 0 ? ' bottom1' : ''
                %tr.danger{class: css_class, "data-url" => statistics_user_url(record[:user])}
                  %td.text-center= index+1
                  %td= record[:user].display_name
                  %td.text-center= format_currency record[:total_money_profits], false

  / Top 5 Predict Scores
  .box-header
    %h2.section--title.bigTitle
      TOP 5 DỰ ĐOÁN NHIỀU / ÍT TỈ SỐ NHẤT
  .box-content.clearfix.m-b-xlarge
    .row
      .col-xs-12.col-md-6
        %h5 NHIỀU NHẤT
        .underline.hidden-sm.hidden-xs
        .table-responsive.top-stat-tbl
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center #
                %th.text-center Nhà đầu tư
                %th.text-center Số tỉ số
                %th.text-center Tổng điểm đặt cược
            %tbody
              - User.list_order_by_numer_scores_betted.first(TOP5).each_with_index do |record, index|
                - css_class = current_user == record[:user] ? 'stat-tbl-current' : ''
                - css_class += index == 0 ? ' top1' : ''
                %tr.active{class: css_class, "data-url" => statistics_user_url(record[:user])}
                  %td.text-center= index+1
                  %td= record[:user].display_name
                  %td.text-center= record[:total_scores]
                  %td.text-center= format_currency record[:total_money_bet], false
      .col-xs-12.col-md-6
        %h5 ÍT NHẤT
        .underline.hidden-sm.hidden-xs
        .table-responsive.top-stat-tbl
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center #
                %th.text-center Nhà đầu tư
                %th.text-center Số tỉ số
                %th.text-center Tổng điểm đặt cược
            %tbody
              - User.list_order_by_numer_scores_betted.last(TOP5).reverse.each_with_index do |record, index|
                - css_class = current_user == record[:user] ? 'stat-tbl-current' : ''
                - css_class += index == 0 ? ' bottom1' : ''
                %tr.warning{class: css_class, "data-url" => statistics_user_url(record[:user])}
                  %td.text-center= index+1
                  %td= record[:user].display_name
                  %td.text-center= record[:total_scores]
                  %td.text-center= format_currency record[:total_money_bet], false

  / Top 5 Win Rate/ Lose Rate
  .box-header
    %h2.section--title.bigTitle
      TOP 5 CÓ TỈ LỆ THẮNG CAO NHẤT
  .box-content.clearfix.m-b-xlarge
    .row
      .col-xs-12.col-md-12
        %p.text-desc.m-b * Chỉ tính các trận đấu đã diễn ra và có kết quả
      .col-xs-12.col-md-6
        %h5 THEO TRẬN ĐẤU
        .underline.hidden-sm.hidden-xs
        .table-responsive.top-stat-tbl
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center #
                %th.text-center{width: '50%'} Nhà đầu tư
                %th.text-center Số trận tham gia
                %th.text-center Số trận thắng
                %th.text-center Tỉ lệ
            %tbody
              - User.list_order_by_win_rate[:by_match].first(TOP5).each_with_index do |record, index|
                - css_class = current_user == record[:user] ? 'stat-tbl-current' : ''
                - css_class += index == 0 ? ' top1' : ''
                %tr.success{class: css_class, "data-url" => statistics_user_url(record[:user])}
                  %td.text-center= index+1
                  %td= record[:user].display_name
                  %td.text-center= record[:total_attended_matches]
                  %td.text-center= record[:total_win_matches]
                  %td.text-center= format_percentage record[:rate]
      .col-xs-12.col-md-6
        %h5 THEO TỈ SỐ
        .underline.hidden-sm.hidden-xs
        .table-responsive.top-stat-tbl
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center #
                %th.text-center{width: '50%'} Nhà đầu tư
                %th.text-center Số tỉ số đặt cược
                %th.text-center Số tỉ số thắng
                %th.text-center Tỉ lệ
            %tbody
              - User.list_order_by_win_rate[:by_score].first(TOP5).each_with_index do |record, index|
                - css_class = current_user == record[:user] ? 'stat-tbl-current' : ''
                - css_class += index == 0 ? ' top1' : ''
                %tr.success{class: css_class, "data-url" => statistics_user_url(record[:user])}
                  %td.text-center= index+1
                  %td= record[:user].display_name
                  %td.text-center= record[:total_scores_betted]
                  %td.text-center= record[:total_scores_win]
                  %td.text-center= format_percentage record[:rate]

  / Top 5 Win Lose Rate
  .box-header
    %h2.section--title.bigTitle
      TOP 5 CÓ TỈ LỆ THUA CAO NHẤT
  .box-content.clearfix.m-b-xlarge
    .row
      .col-xs-12.col-md-12
        %p.text-desc.m-b * Chỉ tính các trận đấu đã diễn ra và có kết quả
      .col-xs-12.col-md-6
        %h5 THEO TRẬN ĐẤU
        .underline.hidden-sm.hidden-xs
        .table-responsive.top-stat-tbl
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center #
                %th.text-center{width: '50%'} Nhà đầu tư
                %th.text-center Số trận tham gia
                %th.text-center Số trận thua
                %th.text-center Tỉ lệ
            %tbody
              - User.list_order_by_lose_rate[:by_match].first(TOP5).each_with_index do |record, index|
                - css_class = current_user == record[:user] ? 'stat-tbl-current' : ''
                - css_class += index == 0 ? ' bottom1' : ''
                %tr.danger{class: css_class, "data-url" => statistics_user_url(record[:user])}
                  %td.text-center= index+1
                  %td= record[:user].display_name
                  %td.text-center= record[:total_attended_matches]
                  %td.text-center= record[:total_lose_matches]
                  %td.text-center= format_percentage record[:rate]
      .col-xs-12.col-md-6
        %h5 THEO TỈ SỐ
        .underline.hidden-sm.hidden-xs
        .table-responsive.top-stat-tbl
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center #
                %th.text-center{width: '50%'} Nhà đầu tư
                %th.text-center Số tỉ số đặt cược
                %th.text-center Số tỉ số thua
                %th.text-center Tỉ lệ
            %tbody
              - User.list_order_by_lose_rate[:by_score].first(TOP5).each_with_index do |record, index|
                - css_class = current_user == record[:user] ? 'stat-tbl-current' : ''
                - css_class += index == 0 ? ' bottom1' : ''
                %tr.danger{class: css_class, "data-url" => statistics_user_url(record[:user])}
                  %td.text-center= index+1
                  %td= record[:user].display_name
                  %td.text-center= record[:total_scores_betted]
                  %td.text-center= record[:total_scores_lose]
                  %td.text-center= format_percentage record[:rate]