.row
  .col-xs-12.col-md-9
    %h5 Thông tin cá cược
    .underline.hidden-sm.hidden-xs
    - if @predict_stats[:collection].size == 0
      %p.text-desc
        Chưa có ai tham gia dự đoán đội vô địch
    - else
      %table.table-responsive.table.table-bordered.list-better-tbl.m-t.m-b
        %tr
          %th.text-center.middle{rowspan: 2, width: '35%'}
            %strong Nhà đầu tư
          %th.text-center{colspan: 3}
            %strong Dự đoán đội vô địch
        %tr
          %td.text-center
            Lần 1
          %td.text-center
            Lần 2
          %td.text-center
            Lần 3
        - @predict_stats[:collection].includes([:user, :team]).group_by(&:user_id).each do |user_id, records|
          - user = @users_indexed[user_id.to_i]
          - records_sorted = records.sort{|a,b| a[:created_at] <=> b[:created_at]}
          %tr{class: user == current_user ? 'current-user' : ''}
            %td
              = link_to user.display_name, statistics_user_path(user), class: current_user != user ? 'not-current-user' : ''
            - records.sort{|a,b| a[:created_at] <=> b[:created_at]}
            - for i in 1..3 do
              - if records_sorted[i-1]
                - team = @teams_indexed[records_sorted[i-1].try(:team_id)]
                - if team
                  %td.text-center.uppercase{class: team.try(:eliminated) ? 'eliminated' : ''}
                    %p
                      %span.team-flag{class: "flag-#{team.try(:code)}"}
                    %p
                      %span= team.try(:title_vi)
                - else
                  %td.text-center.uppercase{class: team.try(:eliminated) ? 'eliminated' : ''}
                    %span.text-desc
                      - case i
                      - when 1
                        KHÔNG DỰ ĐOÁN
                      - when 2
                        = !finish_group_stage? ? 'NOT AVAILABLE' : 'KHÔNG DỰ ĐOÁN'
                      - when 3
                        = !finish_round_of_16? ? 'NOT AVAILABLE' : 'KHÔNG DỰ ĐOÁN'
              - else
                %td.text-center.uppercase{class: team.try(:eliminated) ? 'eliminated' : ''}
                  %span.text-desc
                    - case i
                    - when 1
                      KHÔNG DỰ ĐOÁN
                    - when 2
                      = !finish_group_stage? ? 'NOT AVAILABLE' : 'KHÔNG DỰ ĐOÁN'
                    - when 3
                      = !finish_round_of_16? ? 'NOT AVAILABLE' : 'KHÔNG DỰ ĐOÁN'

  .col-xs-12.col-md-3
    %h5 Tổng tiền thưởng
    .underline.hidden-sm.hidden-xs
    .total-money-bet= format_currency(Settings.nus_money_for_champion.to_i + @predict_stats[:total_money])
    %table.table.table-responsive.money-detail-table
      %tbody
        %tr
          %td
            Tổng tiền tham gia:
          %td.play-font
            = format_currency(@predict_stats[:total_money])
        %tr
          %td
            Công ty NUS:
          %td.play-font
            = format_currency(Settings.nus_money_for_champion.to_i)