.row
  .col-xs-12.col-md-9
    - unless @predict_stats[:collection].size == 0
      %h5 Thống kê nhanh
      .underline.hidden-sm.hidden-xs
      %table.table-responsive.table.table-bordered.predict-champion-overview-tbl.m-t.m-b-large
        %thead
          %th.text-center
            %strong Tên đội
          %th.text-center
            %strong Tổng người dự đoán
          %th.text-center
            %strong Points dự kiến nhận được
        %tbody
          - PredictChampion.has_team.group_by(&:team_id).sort_by{|k,v| -v.size}.each do |team_id, records|
            - team = @teams_indexed[team_id]
            - css_class = team.try(:eliminated) ? 'eliminated' : ''
            - css_class += records.map(&:user_id).include?(current_user.try(:id)) ? ' current-user' : ''
            %tr{class: css_class}
              %td.text-center.uppercase
                %p
                  %span.team-flag
                    %img.wc-flag{alt: team.try(:code), src: "/flags_euro2020/#{team.try(:key) || 'placeholder'}.png", title: team.try(:code)}/
                %p
                  %span= team.try(:title_vi)
              %td.text-center.number-larger
                = records.size
              %td.text-center.number-larger
                = format_currency((Settings.nus_money_for_champion.to_i + PredictChampion.sum(:money)) / records.size)

    %h5 Thông tin chi tiết
    .underline.hidden-sm.hidden-xs
    - collection = PredictChampion.all
    - max_predict_champion_count = collection.group_by(&:user_id).collect{|k, v| v.size}.max
    %table.table-responsive.table.table-bordered.list-better-tbl.m-t.m-b
      %tr
        %th.text-center.middle{rowspan: 2, width: '35%'}
          %strong Nhà đầu tư
        %th.text-center{colspan: @number_of_rows}
          %strong Dự đoán đội vô địch
      %tr
        - for i in 1..@number_of_rows do
          %td.text-center
            = get_predict_label(i)
        - @staffs.each do |staff|
          %tr{class: staff == current_user ? 'current-user' : ''}
            %td
              = link_to staff.display_name, statistics_user_path(staff), class: current_user != staff ? 'not-current-user' : ''
            - for i in 1..@number_of_rows do
              - predicted_team = staff.get_predict_team(i)
              - if predicted_team
                %td.text-center.uppercase{class: predicted_team.try(:eliminated) ? 'eliminated' : ''}
                  %p
                    %span.team-flag
                      %img.wc-flag{alt: predicted_team.try(:code), src: "/flags_euro2020/#{predicted_team.try(:key) || 'placeholder'}.png", title: predicted_team.try(:code)}/
                  %p
                    %span= predicted_team.try(:title_vi)
              - else
                %td.text-center.uppercase.no-team
                  - if get_predict_status_text(i, staff) == 'VIỆT NAM VÔ ĐỊCH'
                    %p
                      %span.team-flag
                        %img{alt: 'VIE', src: "/flags_euro2020/vie.png", title: 'VIE'}/
                  %p
                    %span
                      = get_predict_status_text(i, staff)

  .col-xs-12.col-md-3
    %h5 Tổng điểm thưởng
    .underline.hidden-sm.hidden-xs
    .total-money-bet= format_currency(Settings.nus_money_for_champion.to_i + PredictChampion.sum(:money))
    %table.table.table-responsive.money-detail-table
      %tbody
        %tr
          %td
            Tổng điểm tham gia:
          %td.play-font
            = format_currency(PredictChampion.sum(:money))
        %tr
          %td
            Công ty NUS:
          %td.play-font
            = format_currency(Settings.nus_money_for_champion.to_i)
