%h5= "Dự đoán lần #{current_user.total_teams_to_predict_champion+1}"
.underline.hidden-sm.hidden-xs
%p
  Hạn chót dự đoán:
  %span.deadline-predict= I18n.localize(current_user.deadline_to_predict_champion[:time], format: :full_with_time)
%p.m-b
  Số điểm đầu tư:
  %span.deadline-predict= format_currency(current_user.deadline_to_predict_champion[:money])
= form_tag pick_champion_users_path, method: :post, class: 'form-horizontal user-predict-champion--form' do
  .form-group
    .col-xs-12.col-md-4
      = select_tag "team_id", options_for_select(Team.join_tournament.not_eliminated.order_by_title_vi.collect{|t|[t.title_vi, t.id]}, nil), class: 'form-control select-team', prompt: '----- Chọn đội -----'
    .col-xs-12.col-md-8.actions
      %button.btn.btn-secondary.submit-btn-custom.ladda-button{type: 'submit', "data-style"=>"zoom-in", "data-spinner-color"=>"#ccc"} Gửi