#match_detail.grid-box.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1
  = render "shared/errors"

  / Rules
  .box-header
    %h2.section--title.bigTitle
      Chú ý
  .box-content.m-b-xlarge.clearfix
    %p - Kể từ sau vòng Tứ kết trở đi không được dự đoán đội vô địch nữa nếu đội bạn dự đoán bị loại.
    %p
      \- Khi kết thúc vòng bảng (còn 16 đội) và vòng 1/16 (còn 8 đội), nếu đội bạn dự đoán bị loại thì bạn có quyền (ko bắt buộc) dự đoán đội khác trước khi vòng thi đấu tiếp theo diễn ra.
    %p
      \- Người tham gia không được quyền thay đổi đội mình đã đăng ký.
      %strong Vì vậy, hãy cân nhắc và lựa chọn thật kỹ trước khi bấm nút Gửi

  - if !current_user || !current_user.is_admin?
    / Your bet
    .box-header
      %h2.section--title.bigTitle
        Dự đoán của bạn
    .box-content.m-b-xlarge.clearfix
      .your-bet-detail-wrap
        - if !current_user
          %p
            Bạn cần
            = link_to 'đăng nhập', login_path
            để tham gia dự đoán đội vô địch.
        - else
          - if current_user.available_to_predict_champion?
            = render partial: 'user_predict_champion_form'
          - else
            = render partial: 'user_predict_champion_detail'

  - if finish_euro?
    / Result
    .box-header
      %h2.section--title.bigTitle
        Kết quả
    .box-content.m-b-xlarge.clearfix
      .result-detail-wrap
        - if @winner_list.blank?
          %p.text-desc Không có nhà đầu tư nào dự đoán trúng đội vô địch Euro 2016. Toàn bộ số điểm thưởng sẽ được dùng để liên hoan toàn Công ty.
        - else
          %p Xin chúc mừng những nhà đầu tư sau đây đã dự đoán chính xác đội vô địch Euro 2016:
          .row.m-t
            .col-xs-12.col-md-8.col-md-offset-2
              %table.table-responsive.table.table-bordered.bet-result-tbl
                %thead
                  %th.text-center
                    %strong Nhà đầu tư
                  %th.text-center
                    %strong Đội vô địch
                  %th.text-center
                    %strong Số điểm nhận được
                %tbody
                  - @winner_list.each_with_index do |user, index|
                    %tr
                      %td{class: user == current_user ? 'current-user' : ''}
                        = link_to user.display_name, statistics_user_path(user), class: current_user != user ? 'not-current-user' : ''
                      - if index == 0
                        %td.middle.text-center.uppercase{rowspan: @winner_list.size}
                          %span.team-flag{class: "flag-#{Team.champion.try(:code)}"}
                          %span= Team.champion.try(:title_vi)
                        %td.middle.text-center.money-win{rowspan: @winner_list.size}
                          = format_currency(@money_for_each_user||0)

  / Statistic
  .box-header
    %h2.section--title.bigTitle
      Thống kê
  .box-content.clearfix
    .statistic-detail-wrap
      = render partial: 'predict_champion_statistic_detail'

  - if current_user && current_user.is_admin? && DateTime.current <= DateTime.parse(Settings.predict_champion_deadline.third)
    / Admin import data for staffs
    .box-header
      %h2.section--title.bigTitle
        Nhập dữ liệu
    .box-content.m-b-xlarge.clearfix
      %button.btn.btn-primary.toogle-btn{"data-toggle"=>"collapse", "data-target"=>"#staffs_predict_champion"} Hiển thị
      #staffs_predict_champion.collapse.m-t
        = render partial: 'admin_import_predict_champion_for_all_staffs'