%td.text-center= game.pos
%td.text-center
  - if game.team1_id
    = game.team1.try(:title_vi)||game.team1.try(:title)
  - else
    = select_tag "team1_id_#{game.id}", options_for_select(Team.join_euro.not_eliminated.order_by_title_vi.collect{|t|[t.title_vi, t.id]}, nil), class: 'form-control admin-select-team', prompt: "----- #{game.unknown_team1_title_vi}-----"
%td.text-center
  - if game.team2_id
    = game.team2.try(:title_vi)||game.team2.try(:title)
  - else
    = select_tag "team2_id_#{game.id}", options_for_select(Team.join_euro.not_eliminated.order_by_title_vi.collect{|t|[t.title_vi, t.id]}, nil), class: 'form-control admin-select-team', prompt: "----- #{game.unknown_team2_title_vi}-----"
%td.text-center
  = game.round.is_group_stage? ? "Vòng bảng, #{game.group.title_vi}" : game.round.title_vi
%td.text-center
  - if game.locked
    %span.text-desc Trận đấu đã diễn ra và đã được xử lý, không thể thao tác.
  - else
    - if game.team1_id && game.team2_id
      = link_to 'Nhập dữ liệu cá cược', update_betting_scores_match_path(game.id)
      \-
      = link_to 'Nhập tỉ số trận đấu', update_match_score_match_path(game.id)
    - else
      = form_tag future_match_update_info_match_path(game.id), method: :post, remote: true do
        = hidden_field_tag 'tmp_team1_id', nil, class: 'js--team1-id'
        = hidden_field_tag 'tmp_team2_id', nil, class: 'js--team2-id'
        %button.btn.btn-secondary.ladda-button{type: 'submit', "data-style"=>"zoom-in", "data-spinner-color"=>"#ccc"} Cập nhật