%h5 Chú ý
.underline.hidden-sm.hidden-xs
%p
  \- Một khi đã bấm nút Gửi, bạn sẽ không thể thay đổi được nữa.
  %strong Vì vậy, hãy cân nhắc và lựa chọn thật kỹ trước khi bấm nút Gửi
%p.m-b
  \- Chiều chọn tỉ số tương ứng với chiều hiển thị tên 2 đội bóng trên màn hình, từ trái qua phải.
  Ví dụ, trận A - B nếu bạn chọn tỉ số 2-0 thì A sẽ là 2 và B sẽ là 0.
- remaining_scores = current_user.remaining_scores_can_bet(game.id)
%p.number-scores-to-bet-info.m-b.text-desc
  %span= "Bạn #{remaining_scores == MAX_SCORE_CAN_BET ? 'có' : 'còn'}"
  %span.scores-num= remaining_scores
  %span lượt dự đoán tỉ số
= form_tag predict_score_match_path(game), method: :post, remote: true, class: 'form-horizontal user-predict-score--form' do
  .form-group
    .col-xs-12.col-md-6
      = select_tag "match[score_ids]", options_for_select(Score.available(current_user.score_ids_on_match(game.id)||[]).collect{|s|[s.name, s.id]}, nil), multiple: true, class: 'form-control select-scores', autofocus: true
    .col-xs-12.col-md-6.actions
      %button.btn.btn-secondary.submit-btn-custom.ladda-button.js-submit-scores{type: 'submit', "data-style"=>"zoom-in", "data-spinner-color"=>"#ccc"} Gửi
%p
  %strong HOẶC:
%br/
= form_tag random_score_match_path(game), method: :post, remote: true, class: 'form-horizontal user-random-score--form' do
  .form-group
    .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        .form-group
          = radio_button_tag 'random_winner_id', game.team1_id, true, class: 'js-icheck'
          %label.m-l-xs.cursor-pointer{for: "random_winner_id_#{game.team1_id}"}= "#{game.team1.title_vi} thắng"
        .form-group
          = radio_button_tag 'random_winner_id', game.team2_id, false, class: 'js-icheck'
          %label.m-l-xs.cursor-pointer{for: "random_winner_id_#{game.team2_id}"}= "#{game.team2.title_vi} thắng"
        .form-group
          = check_box_tag 'random_can_draw', nil, false, class: 'js-icheck'
          %label.m-l-xs.cursor-pointer{for: 'random_can_draw'} Có khả năng hoà
      .col-xs-12.col-md-6
        .form-group
          %label.control-label.col-xs-12.col-md-6 Tổng tỉ số
          .col-xs-12.col-md-6
            = text_field_tag 'random_total_scores', remaining_scores, type: 'number', max: remaining_scores, min: 1, class: 'form-control'
        .form-group
          %label.control-label.col-xs-12.col-md-6 Giới hạn đến
          .col-xs-12.col-md-6
            = text_field_tag 'random_max_number', 3, type: 'number', max: 15, min: 1, class: 'form-control'
    .col-xs-12.col-md-6.actions
      %button.btn.btn-secondary.ladda-button{type: 'submit', "data-style"=>"zoom-in", "data-spinner-color"=>"#ccc"} Random tỉ số