.grid-box.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1
  = render "shared/errors"
  = render "shared/total_money_for_final"
  - unless @recent_matches.blank?
    = render partial: 'matches', locals: {title: "Gần đây", matches: @recent_matches}
  - unless @upcoming_matches.blank?
    = render partial: 'matches', locals: {title: "Sắp diễn ra", matches: @upcoming_matches}
  - unless @past_matches.blank?
    = render partial: 'matches', locals: {title: "Đã diễn ra", matches: @past_matches}