#match_detail.grid-box.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1
  = render "shared/errors"
  .box-content.clearfix.m-b-xlarge
    .deadline-section
      %p
        Hạn chót đặt cược:
        %span.deadline-time= I18n.localize(@game.deadline, format: :full_with_time)
      - if @game.available_to_bet
        %p.text-desc
          %span#clock
      - else
        %p.text-desc Hết giờ dự đoán tỉ số
    .match-row.match-row--horizontal.match-finalTrn.match-groupStage.match-notFake
      .match.match-row_match{class: @game.is_knockout? ? 'knockout' : ''}
        .text-center
          %p.match--score_time= @game.round.is_group_stage? ? @game.group.title_vi : @game.round.title_vi
          %p.match--score_time= @game.play_at.strftime("%-d/%m - %H:%M %p")
        - team1 = @game.team1
        - team2 = @game.team2
        - team1_class = @game.winner ? (@game.winner == @game.team1_id ? 'match--winner' : 'match--loser') : ''
        - team2_class = @game.winner ? (@game.winner == @game.team2_id ? 'match--winner' : 'match--loser') : ''
        .team-home{class: "#{team1_class}"}
          .team-code
            = team1.try(:code)
          .team-name
            %span.team-name_name= team1.try(:title_vi)||team1.try(:title)
          %span.team-flag
            %img.wc-flag{alt: team1.try(:code), src: team_logo(team1), title: team1.try(:code)}/
        .text-center.match--score
          %span.match--score_score
            %span.js-team--home-score= @game.score1
            \-
            %span.js-team--away-score= @game.score2
        .team-away{class: "#{team2_class}"}
          %span.team-flag
            %img.wc-flag{alt: team2.try(:code), src: team_logo(team2), title: team2.try(:code)}/
          .team-code
            = team2.try(:code)
          .team-name
            %span.team-name_name= team2.try(:title_vi)||team2.try(:title)
    - if @game.has_score? && @game.is_knockout? && @game.is_draw?
      %p.text-center.text-desc= @game.reason
    - if current_user && current_user.is_admin? && !@game.locked
      .admin-actions
        .block.m-b-xs
          = link_to "Cập nhật tỉ số", update_match_score_match_path(@game), class: 'btn btn-secondary'
        .block.m-b-xs
          = link_to "Cập nhật cá cược", update_betting_scores_match_path(@game), class: 'btn btn-secondary'
        - if Settings.is_demo
          .block
            = form_for(@game, url: send_report_email_to_all_staffs_match_path(@game), html: { method: :post }) do |f|
              %button{type: 'submit', class: 'btn btn-secondary'} Gửi thông tin cá cược cho tất cả staffs

  - if !@game.locked && (!current_user || (current_user && !current_user.is_admin?))
    / Your bet
    .box-header
      %h2.section--title.bigTitle
        Dự đoán kết quả
    .box-content.m-b-xlarge.clearfix
      .your-bet-detail-wrap
        - if !current_user
          - if @game.available_to_bet
            %p
              Bạn cần
              = link_to 'đăng nhập', login_path
              để tham gia dự đoán tỉ số trận đấu này.
          - else
            %p.text-desc Đã hết thời gian cá cược cho trấn đấu này.
        - else
          - if current_user.has_betted_enough_scores?(@game.id)
            = render partial: 'user_bet_detail', locals: {game: @game}
          - else
            - if @game.available_to_bet
              - if current_user.can_bet_on_match?(@game)
                = render partial: 'user_bet_predict_scores', locals: {game: @game}
              - else
                %p.text-desc Bạn không đủ điều kiện tham gia dự đoán tỉ số trận đấu này.
            - else
              %p.text-desc Bạn không thể dự đoán vì đã hết thời gian cá cược cho trấn đấu này.

  - if @game.has_score?
    / Result
    .box-header
      %h2.section--title.bigTitle
        Kết quả
    .box-content.clearfix.m-b-xlarge
      .result-detail-wrap
        - if @winners.blank?
          %p.text-desc Không có nhà đầu tư nào dự đoán trúng tỉ số trận đấu này.
          - unless @game.final_match?
            %p.text-desc Một nửa số điểm sẽ được chuyển vào trận sau và một nửa còn lại sẽ được chuyển vào trận chung kết.
          - else
            %p.text-desc Toàn bộ số điểm cược cho trận Chung Kết này sẽ được dùng để liên hoan toàn Công ty.
        - else
          %p Xin chúc mừng những nhà đầu tư sau đây đã dự đoán chính xác tỉ số trận đấu:
          .row.m-t
            .col-xs-12.col-md-8.col-md-offset-2
              %table.table-responsive.table.table-bordered.bet-result-tbl
                %thead
                  %th.text-center
                    %strong Nhà đầu tư
                  %th.text-center
                    %strong Số điểm nhận được
                %tbody
                  - @winners.sort_by{|u| u.display_name}.each_with_index do |user, index|
                    %tr
                      %td{class: current_user == user ? 'current-user' : ''}
                        = link_to user.display_name, statistics_user_path(user), class: current_user != user ? 'not-current-user' : ''
                      - if index == 0
                        %td.middle.text-center.money-win{rowspan: @winners.size}
                          = format_currency(user.total_money_win_on_match(@game.id))

  / Statistic
  #statistic_detail_match
    = render partial: 'match_statistic_detail', locals: {game: @game, money_statistic: @money_statistic}

  = render partial: 'go_to_match', locals: {game: @game}

- if current_user && !current_user.is_admin?
  :javascript
    $(function() {
      formatSelect2("#{current_user.remaining_scores_can_bet(@game.id)}");

      $('#clock').countdown("#{@game.deadline}", function(event) {
        $(this).html(event.strftime('%-D ngày %H:%M:%S'));
      }).on('finish.countdown', function(event) {
        $(this).html("Hết giờ dự đoán tỉ số");
      });
    });
