!!!
%html
  %head
    %title Euro2016
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid.main-wrap
      / Content wrapper
      .body.row
        .content-wrap
          / Matches strip
          .matchstrip{"data-offset-bottom" => "0", "data-offset-top" => "40", "data-spy" => "affix"}
          / Navigation
          .navigation
            %nav.navbar-lv2.d3-plugin{"data-plugin" => "navigation", role: "navigation"}
              - if current_user
                .user-info-section.d3-plugin.block
                  %span.user-info-wrapper
                    %span.user-info-content
                      %p
                        = "Xin chào, "
                        = link_to current_user.full_name, profile_path
                        %span.user-log-out= link_to "(Thoát)", destroy_user_session_path, method: :delete
                      %p
                        Lợi nhuận của bạn:
                        = link_to "#{number_with_delimiter(1041000, delimiter: '.')} VNĐ", statistics_user_path(current_user)
              / Logo
              .competition-logo
                %a.logolink{href: root_path, title: "UEFA EURO 2016"} UEFA EURO 2016
              / Navigation
              .navbar-lv2-wrap.js-nav-wrap.affix
                .container-fluid
                  .competition-logo-affix
                    %a.logolink{href: root_path, title: "UEFA EURO 2016"} UEFA EURO 2016
                  %a.navbar-lv2-toggle.hidden-md.hidden-lg.js-toggle{href: "#"}
                    %span.toggle-text Menu
                    %span.toggle-hamburger
                      %span.icon-bar
                      %span.icon-bar
                      %span.icon-bar
                    %span.toggle-close.icon-close
                  %ul.navbar-lv2-nav.js-nav
                    %li.navbar-lv2-item.navbar-lv2-breadcrumb.hidden-md.hidden-lg{role: "presentation"}
                      %a.navbar-lv2-item-link{href: root_path}
                        Home
                        %span.icon-arrow-thin-right
                    %li.navbar-lv2-item.first-link{role: "presentation", class: "#{controller_name == 'matches' && action_name == 'index' && params[:type].blank? ? 'active' : ''}"}
                      %a.navbar-lv2-item-link{href: root_path} Tất cả trận đấu
                    %li.navbar-lv2-item{role: "presentation", class: "#{controller_name == 'matches' && action_name == 'index' && params[:type] == 'group_stage' ? 'active' : ''}"}
                      %a.navbar-lv2-item-link{href: matches_path({type: 'group_stage'})} Vòng bảng
                    %li.navbar-lv2-item{role: "presentation", class: "#{controller_name == 'matches' && action_name == 'index' && params[:type] == 'round_of_16' ? 'active' : ''}"}
                      %a.navbar-lv2-item-link{href: matches_path({type: 'round_of_16'})} Vòng 16 đội
                    %li.navbar-lv2-item{role: "presentation", class: "#{controller_name == 'matches' && action_name == 'index' && params[:type] == 'quarter_final' ? 'active' : ''}"}
                      %a.navbar-lv2-item-link{href: matches_path({type: 'quarter_final'})} Tứ kết
                    %li.navbar-lv2-item{role: "presentation", class: "#{controller_name == 'matches' && action_name == 'index' && params[:type] == 'semi_final' ? 'active' : ''}"}
                      %a.navbar-lv2-item-link{href: matches_path({type: 'semi_final'})} Bán kết
                    %li.navbar-lv2-item{role: "presentation", class: "#{controller_name == 'matches' && action_name == 'index' && params[:type] == 'final' ? 'active' : ''}"}
                      %a.navbar-lv2-item-link{href: matches_path({type: 'final'})} Chung kết
                    %li.navbar-lv2-item{role: "presentation", class: "#{controller_name == 'home' && action_name == 'predict_champion' ? 'active' : ''}"}
                      %a.navbar-lv2-item-link{href: predict_champion_path} Dự đoán đội vô địch
                    %li.navbar-lv2-item{role: "presentation", class: "#{controller_name == 'statistics' && action_name == 'index' ? 'active' : ''}"}
                      %a.navbar-lv2-item-link{href: statistics_path} Bảng xếp hạng
                    - if current_user
                      %li.navbar-lv2-item.last-link{role: "presentation", class: "#{controller_name == 'registrations' && action_name == 'edit' ? 'active' : ''}"}
                        %a.navbar-lv2-item-link{href: profile_path} Thông tin cá nhân
                    - else
                      %li.navbar-lv2-item.last-link{role: "presentation", class: "#{controller_name == 'sessions' && action_name == 'new' ? 'active' : ''}"}
                        %a.navbar-lv2-item-link{href: login_path} Đăng nhập
          / Main content
          .content
            %section.section
              .container-fluid
                .section--content.clearfix
                  .row
                    = yield
        / Footer
        %footer.footer-wrap{:xtcz => "Footer"}
          %section.section.footer-bottom
            .container-fluid
              .col-xs-12
                / DISCLAIMER
                .footer-disclaimer
                  %p{style: 'font-size: 16px;'} NUS Technology Long-term Event - Dự đoán tỷ số từng trận đấu.
                  %p{style: 'font-size: 13px;'}
                    Website sử dụng giao diện của
                    %a.uefa-link{:href => "http://www.uefa.com/uefaeuro/", :target => "_blank"} UEFA.com
          .watermark-footer